* {
    margin: 0;
    padding: 0;
    font-family: $font-1;
  }
  
  .principal {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
      url(../img/riverdale-pop-s-chock-lit-shoppe-5cm5n8oqtxkuv0mk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: 55px;
  }
  .logo{
    width: 30px;
    height: 30px;
  }
  .section-bandas {
    padding: 50px;
    background-color: nth($colores ,1);
  }
  
  .riverdale-logo {
    width: 450px;
    height: 250px;
  }
  .titulos{
    @extend %dis-cen;
  }
h1 {
    color:map-get($h1, color-titulo);
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
    font-size:map-get($h1, font-tamaño);
    padding:map-get($h1, pd);
    font-family: $font-2;
    &:hover {
      text-shadow: 0 0 5px darkblue,
        0 0 25px darkblue,
        0 0 50px darkblue,
        0 0 100px darkblue;
      transform: 
      scale(1.1);
    }
    @media (max-width: 768px) {
      font-size: nth($font-sizes , 3);
    }
}
p {
  color: white;
  @media (max-width: 768px) {
    font-size: 20px;
}
}
.subtitle {
  text-align: center;
  color: nth($colores , 3);
  font-size: nth($font-sizes , 2);
  @media (max-width: 768px) {
    font-size: nth($font-sizes , 4);
  }
}

.navbar-color {
  color: white;

  &:hover {
    color:nth($colores, 4);
    transform: scale(1.1);
  }
}

h2 {
  color: aliceblue;
}

.footer_fuente {
  font-family: $font-3;
}

.btn-mio{
  &:hover {
  color: nth($colores, 5);
}
}
@media (max-width: 768px) {
  .riverdale-logo {
  width: 300px;
  height: 150px;
  }
}
